body {
  background-color: #b6dfdf;
}

.App-header {
  background-color: #007dd7;
  color: white;
  font-size: 2.25rem;
  padding: 10px 10px 10px;
  font: small-caps bold 2.25rem Georgia, serif;
}

.Resume-header {
  background-color: black;
  color: white;
  text-align: right;
  font-size: 30px;
  padding: 10px 10px 0px;
}

.Professional-summary {
  text-align: left;
}

.Educational-Background {
  text-align: left;
}

.Work-Experience {
  text-align: left;
}

.template {
  padding-right: 50px;
  padding-left: 50px;
}

.input-pad {
  padding-right: 50px;
  padding-left: 50px;
}