body{
    background-color: #b6dfdf;
    /*background-image: url("../assets/blue-folder-free-images-186360.png");
    /*background-position: center; /* Center the image */
    /*background-repeat: no-repeat; Do not repeat the image
    /*background-size: cover; /* Resize the background image to cover the entire container */

}

.introduction {

}

.App-header {
  background-color: #222;
  color: white;
  font-size: 1.25rem;
  padding: 50px 50px 0px;
}
